<%= link_to("Back to List", tasks_path, :class => 'back-link') %>

<div class="tasks edit">
  <h2>Edit Task</h2>

  <%= form_with(model: @task) do |f| %>
    <% # url: tasks_path, method: 'post' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Update Task") %>
    </div>

  <% end %>
</div>
